/* body{

margin: 180px;
}


.time{
    font-size: 60px;
    color: #FFF;
    justify-content: center;
    width: 100%;
    display: flex;
} */

*{
    box-sizing: border-box;
}

.color-clock{
    background-color: blue;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    color:#FFF;
    font-size: 60px;
}

.color-clock::after{
    content: "";
    position:absolute;
    height: 1px;
    color:#FFF;
    width: 25%;
    left: 25%;
    text-align: center;
}
.color-clock_progress-bar{
    width: 100%;


}
