/* body{

margin: 180px;
}


.time{
    font-size: 60px;
    color: #FFF;
    justify-content: center;
    width: 100%;
    display: flex;
} */

*{
    box-sizing: border-box;
}

.color-clock{
    background-color: blue;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    color:#FFF;
}

.color-clock_progress-bar{
    width:100%;
    border:
}
